.cell-background {
  width: 120px;
  padding: 4px;
  margin: 0;
  height: 25px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  color: black;
  border: 1px solid #cacaca;
  text-align: left;
  vertical-align: top;
  font-size: 14px;
  line-height: 15px;
  overflow: hidden;
}

.cell {
  width: 120px;
  padding: 4px;
  margin: 0;
  height: 25px;
  box-sizing: border-box;
  position: relative;
  display: block;
  color: black;
  border: 1px solid #000;
  text-align: left;
  font-size: 14px;
  line-height: 15px;
  overflow: hidden;
}