.header {
    height: 100px;
    display: flex;
    align-items: center;
}

.title {
    margin: 0 25px;
    width: 200px;
    height: 30px;
}

.types {
    margin: 0 25px 0 0;
    width: 200px;
    height: 37px;
}

.button {
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    width: 200px;
    border: none;
    background: #0CF;
    color: #FFF;
    padding: 10px;
    font-size: 15px;
}

button:disabled {
    background: #dddddd;
}